.offset-content-wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
}

.offset-content-wrapper.offset-show {
    opacity: 1;
    visibility: visible;
}

.offset-content {
    /* background: #fff; */
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    margin: auto;
    display: flex;
    position: relative;
    top: 0%;
    gap: 10px;
}

.offset-info {
    width: 50%;
    padding: 40px;
    overflow-y: auto;
}

.offset-thumb {
    width: 50%;
}

.offset-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offset-content-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 10000;
}

.offset-info-heading {
    font-size: 22px;
    margin-bottom: 15px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.contact-item span,
.contact-email {
    font-size: large;
    color: var(--clr-theme-3);

}

.contact-icon {
    font-size: 18px;
    margin-top: 4px;
    color: var(--clr-theme-1);
}

.contact-item a {
    text-decoration: none;
    color: inherit;
    color: var(--clr-theme-3);
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;

}

.social-links a {
    background-color: var(--clr-common-black);
    color: #fff;
    padding: 6px 10px;
}