

/*----------------------------------------
    01. common css
----------------------------------------*/

@import url("https://fonts.cdnfonts.com/css/wargate");
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "crimson";
  /* src: url(".../../public/assets/fonts/Crimson-Roman.ttf") format("truetype"); */
  src: url("/public/assets/fonts/Crimson-Roman.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-color: #556b2f;
  --secondary-color: #b9972f;
  --dark-bg: #1a1a1a;
  --light-bg: #f7f3e9;
  --thm-gradient1: linear-gradient(135deg, #3d5220, #6e8b3d, #d4af37);
  --thm-gradient2: linear-gradient(135deg, #a3b76b, #6e8b3d, #b9972f);
  --thm-gradient3: linear-gradient(135deg, #d4af37, #ffd65a, #b9972f);
  --thm-gradient4: linear-gradient(135deg, #1f2c12, #3d5220, #6e8b3d);
  --headline-font: "Wargate", sans-serif;
  --body-font: "Roboto", sans-serif;


  --clr-common-white: #ffffff;
  --clr-common-black: #1a1a1a;
  --clr-common-border: #c7c7c7;
  --clr-common-placeholder: #aaa;
  --clr-theme-1: #556b2f;
  --clr-theme-2: #b9972f;
  --clr-theme-3: #7c7c7c;
  --clr-bg-1: #2e4019;
  --clr-bg-2: #c8a04e;
  --clr-bg-3: #fffcf6;
  --clr-bg-4: #f2f2f2;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: normal;
  color: var(--clr-theme-1);
  line-height: 28px;
}

section {
  background: var(--clr-common-white);
  position: relative;
  z-index: 2;
}

a {
  text-decoration: none;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--body-font); */
  font-family: var(--headline-font);
  color: var(--clr-theme-1);
  margin-top: 0px;
  /* font-weight: 700; */
  line-height: 1.2;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  /* font-weight: 700; */
}

div,
p {
  font-family: var(--body-font);
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 24px;
  /* font-weight: 600; */
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: normal;
  color: var(--clr-theme-1);
  margin-bottom: 18px;
  line-height: 24px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-theme-2);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

*::-moz-selection {
  background: var(--clr-common-black);
  color: var(--clr-common-white);
  text-shadow: none;
}

::-moz-selection {
  background: var(--clr-common-black);
  color: var(--clr-common-white);
  text-shadow: none;
}

::selection {
  background: var(--clr-common-black);
  color: var(--clr-common-white);
  text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
  color: var(--clr-common-placeholder);
  font-size: 16px;
  opacity: 1;
}

*::placeholder {
  color: var(--clr-common-placeholder);
  font-size: 16px;
  opacity: 1;
}



.css-t3ipsp-control {
  border-color: var(--primary-color);

}

.css-t3ipsp-control:hover {
  border-color: var(--primary-color);
}